.text-wrapper {
    border-radius: 5%;
    position: relative;

    left: 55%;
    top: 45%;
    transform: translate(-50%, -50%);
    overflow-wrap: break-word;
    max-width: 275px;
}

p {
    letter-spacing: 2.5px;
    text-align: center;
    line-height: 3vw;
    font-size: 3vw;
    background: -webkit-linear-gradient(#f6d365, #fda085);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}