.fire-wrapper {
    background-color: white;
}

.fire {
   background-image: url("./fire_full.png"); 
   background-position: center;
   background-size: cover;
   min-width: 300px;
   min-height: 300px;
   z-index: 1;
}